#icon_user {
    margin: auto;
    margin-top: 10rem;
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    background-image: url("icons/icon_user.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #submit_form-btn {
    width: 10px;
    height: 10px;
    color: red;
  }
  
  .welcome_page {
    text-align: center;
  }
  
  .welcome_page p {
    margin: 1.2rem 0;
    font-size: 24px;
  }
  
  form {
    width: 16rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 50px;
  }
  
  input {
    width: 100%;
    height: 1.5rem;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 0;
  }
  
  #submit_btn {
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    background-color: red;
    border-radius: 100px;
    position: absolute;
    right: 0;
    z-index: 4;
    transition: 0.3s;
  }
  
  /* #submit_btn:hover {
    background: #90EE90;
    width: 100%;
  } */