#work_window {
  /* visibility: hidden; */
  display: flex;
  position: absolute;
  /* position: fixed; */
  width: 880px;
  height: 560px;
  top: 80px;
  left: 160px;
  /* background-color: rgb(250, 242, 251); */
  background-color: #7541e4;
  /* border-radius: 50px; */
  display: flex;
  flex-direction: row;
}

.work_fixed {
  height: 100%;
  border-right: 1px solid black;
}

.nav_horizontal p {
  line-height: 16px;
  padding: 8px 8px;
  /* color: white; */
  width: 100%;
  text-align: right;
  margin: auto 8px;
  color: rgb(71, 5, 163);
  font-family: 'ds-digital';
}

#work_nav {
  height: 100%;
  width: 160px;
}

.nav_text span {
  /* background-color: white; */
  font-size: 12px;
  margin-right: 5px;
}

.nav_text-head {
  margin: 5px 10px;
  text-transform: uppercase;
  color: gray;
}

.nav_text-head:nth-child(1) {
  margin: 25px 10px 10px 10px;
  color: rgb(234, 167, 230);
  text-shadow: 2px 0px 0px #4312ac;
  font-family: "lemonmilk";
}

.nav_text-el {
  margin: 5px 10px;
  color: white;
  cursor: pointer;
}

.nav_text-el:hover {
  color: var(--neongreen);
  text-decoration: underline;
  transition: 0.3s;
}

.window_link {
  height: 32px;
  width: 100%;
  background-color: yellow;
  border-bottom: 1px solid black;
}

.window_link p {
  margin: 5px 10px;
  padding: 0;
}

.work_temp {
  height: 100%;
  width: auto;
  background-color: #2b3194;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav_hor {
  height: 32px;
  width: 100%;
  margin: auto;
  padding: 8px;
}

.work_content {
  height: 100%;
  width: auto;
  overflow-y: scroll;
  padding: 24px 24px;
  background-color: white;
  line-height: 24px;
}

.work_content p {
  overflow-y: hidden;
}

.work_section {
  display: block;
}

.work_subsections {
  display: flex;
  flex-wrap: wrap;
  /* background-color: bisque; */
  justify-content: space-between;
}

.folder {
  margin: 8px 0 24px 0;
  width: 49%;
  background-color: var(--lightblue);
  border-bottom: 1px solid var(--darklightblue);
  border-top: 1px solid var(--darklightblue);
  box-sizing: border-box;
  /* height: 96px; */
  /* background-color: aqua; */
}

.folder:hover {
  cursor: pointer;
  background-color: #ecfbf0;
  border-top: 1px solid var(--neongreen);
  border-bottom: 1px solid var(--neongreen);
  /* border: 1px solid black; */
  transition-duration: 0.3s;
}

.folder_head {
  /* background-color: #b8b3e1; */
  text-align: center;
  color:rgb(109, 11, 248);
  text-shadow: 0.5px 0px 1px var(--neongreen);
  font-family: 'lemonmilk';
  font-size: 12px;
  /* background-color: var(--lightblue); */
  border-bottom: 1px solid var(--darklightblue);
  /* text-decoration: underline; */
}

.folder_icon {
  /* position: relative; */
  margin: auto;
  width: 100%;
  height: 120px;
  /* background-color: #27222a; */
  transition-duration: 0.3s;
  /* border: 1px solid black; */
}

.folder_icon:hover {
  height: 150px;
}

.work_section-head {
  /* margin: 0px 0; */
  color: rgb(234, 167, 230);
  /* text-shadow: 1px 0px 0px #4312ac; */
  /* text-shadow: 1px 0px 0px #4312ac; */
  font-family: "lemonmilk";
}

.folder_description {
  /* background-color: var(--lightblue); */
  /* border-bottom: 1px solid var(--darklightblue); */
  padding: 4px 8px;
  max-width: 100%;
  height: fit-content;
  color:rgb(66, 67, 170);
}

#notparkour_folder .folder_icon {
  background-image: url(../images/work_folders/notparkour/notparkour_folder-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#asrm_folder .folder_icon {
  background-image: url(../images/work_folders/asrm/asrm_folder-icon.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#crayoladraw_folder .folder_icon {
  background-image: url(../images/work_folders/crayoladraw/crayoladraw_folder-icon.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#cair_folder .folder_icon {
  background-image: url(../images/work_folders/cair/cair_folder-icon.png);
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

#cosimo_folder .folder_icon {
  background-image: url(../images/work_folders/cosimo/cosimo_folder-icon.png);
  background-color: white;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.content_header {
  width: 100%;
  height: 240px;
  /* background-color: #2b3194; */
  display: flex;
  margin-bottom: 32px;
}

.content_main img {
  width: 100%;
  height: auto;
  margin: 8px 0 16px 0;
}

.header_image {
  width: 70%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #4312ac;
  border-bottom: 1px solid #4312ac;
  box-shadow:
    6px 6px 0px 1px #4312ac;
}

.header_image:active {
  transform: translate(8px, 8px);
  box-shadow: none;
}

#header_image-notparkour {
  background-image: url(../images/work_folders/notparkour/notparkour_folder-icon.png);
}

#header_image-asrm {
  background-image: url(../images/work_folders/asrm/asrm_folder-icon.png);
  background-position: top;
}

#header_image-crayoladraw {
  background-image: url(../images/work_folders/crayoladraw/crayoladraw_folder-icon.png);
  background-position: left;
}

#header_image-cair {
  background-image: url(../images/work_folders/cair/cair_folder-icon.png);
}

#header_image-cosimo {
  background-image: url(../images/work_folders/cosimo/cosimo_folder-icon.png);
  background-size: 90%;
}

#header_image-posters {
  background-image: url(../images/work_folders/asrm/asrm_folder-icon.png);
}

#header_image-digitalart {
  background-image: url(../images/work_folders/asrm/asrm_folder-icon.png);
}

.content_overview {
  width: 50%;
  height: auto;
  padding-left: 24px;
}

.content_overview p {
  margin-top: 8px;
}

.overview_title {
  font-size: 32px;
  font-family: "lemonmilk";
  margin-bottom: 16px;
  color: rgb(234, 167, 230);
  text-shadow: 1px 0px 1px #4312ac;
}

mark {
  background-color: var(--lightblue);
}

.information_boxes {
  border: 2px solid var(--lightblue);
  margin-bottom: 16px;
}

legend {
  font-family: "lemonmilk";
  padding: 0 8px;
  font-size: 16px;
  color: rgb(234, 167, 230);
  text-decoration: var(--lightblue) underline 2px;
  /* text-shadow: 0.5px 0px 1px #4312ac; */
}

.information_boxes p {
  padding: 8px 16px;
}

#work_bread {
  color: #918aef;
  cursor: pointer;
  transition-duration: 0.3s;
}

#work_bread:hover {
  color: var(--neongreen);
}

.img_column-two img{
  max-width: 49.65%;
  height: auto;
  vertical-align: top;
}

fieldset ul li {
  /* padding-left: 32px; */
  margin-left: 32px;
  list-style-type: circle;
}